In [23]:
from IPython.core.debugger import set_trace

%load_ext_nb_block

import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

%matplotlib inline

UsageError: Line magic function `%load_ext_nb_block` not found.

In [29]:
from faker import Faker
fake = Faker()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3433, in run_code
  File "/var/folders/zp/1vkp2s4946x3l2db26dcwckc0000gp/T/ipykernel_13507/3426827559.py", line 2, in <module>
    fake = Faker()
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/faker/proxy.py", line 67, in __init__
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/faker/factory.py", line 57, in create
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/faker/factory.py", line 104, in _find_provider_class
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 984, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'faker.providers.lorem.la'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/pygments/styles/__init__.py", line 82, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2052, in showtraceback
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/ultratb.py", line 793, in format_exception_as_a_whole
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/IPython/core/ultratb.py", line 838, in get_records
  File "/Users/karunakr/Python/Data Generator/env/lib/python3.9/site-packages/pygments/styles/__init__.py", line 84, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

# Creating Synthetic Data

## Time Series

In [30]:
def faker_timeseries_row(num = 1, seed = None):
    
    fake.seed_instance(seed)
    
    time_gen = fake.time_series(start_date=f"-{num}d", end_date="now", precision = 3600)
    
    output = [
        {
            
            "name": fake.last_name(),
            "email": fake.free_email(),
            "datetime": next(time_gen),
            "ssn": fake.ssn(),
            "creditcard": fake.credit_card_number(),
            "pricetag": fake.pricetag(),
            "country": fake.country()
            
        }
        
        for x in range(num)
    ]
    
    return output

In [31]:
import pandas as pd
df = pd.DataFrame(faker_timeseries_row(30, seed=0))
df.head(30)

,name,email,datetime,ssn,creditcard,pricetag,country
0,Richard,gwilliams@yahoo.com,"(2022-10-25 13:15:31, 1457.7628948214915)",803-39-7809,348242194892419,$5.78,Bolivia
1,Gomez,cheryl38@yahoo.com,"(2022-10-25 14:15:31, 1593.696092926828)",534-34-1021,213116097535139,"$23,328.71",Ghana
2,Golden,jrodriguez@yahoo.com,"(2022-10-25 15:15:31, 2543.6210755208026)",561-43-8853,4719659342324,$9.47,Bangladesh
3,Davis,nancymclean@gmail.com,"(2022-10-25 16:15:31, 3233.4232368883645)",850-70-6411,3583396947751591,$7.95,Tanzania
4,Lee,dennisdave@gmail.com,"(2022-10-25 17:15:31, 1339.4166950918634)",175-43-6982,502023098911,$1.39,Switzerland
5,Johnston,hdavis@gmail.com,"(2022-10-25 18:15:31, 2179.8150127969043)",200-24-2030,30300869141315,$956.20,Lao People's Democratic Republic
6,Williams,lyonspeter@yahoo.com,"(2022-10-25 19:15:31, 1290.7990847217666)",750-61-9336,4022584197207698,"$14,564.28",Kuwait
7,Harmon,joanne84@gmail.com,"(2022-10-25 20:15:31, 864.4694681748744)",494-46-9997,4992466109352337695,"$3,069.60",Kiribati
8,Brown,seandyer@hotmail.com,"(2022-10-25 21:15:31, 2174.31859612275)",001-05-8104,377063812066507,$20.08,Comoros
9,Wilson,morganramirez@gmail.com,"(2022-10-25 22:15:31, 360.6504806293525)",875-51-1333,577142851242,$0.03,Pitcairn Islands
10,Green,stacey90@hotmail.com,"(2022-10-25 23:15:31, 3460.330475306282)",623-84-8102,3565823694022456,$151.59,Armenia
11,Nelson,tinaroberts@yahoo.com,"(2022-10-26 00:15:31, 3561.490896154519)",133-38-1883,30304281465468,$1.87,Lebanon
12,Rogers,david17@yahoo.com,"(2022-10-26 01:15:31, 136.16776680090433)",344-95-2551,4111330601688475,"$4,936.15",Eritrea
13,Richards,ryanhoward@gmail.com,"(2022-10-26 02:15:31, 2959.1304891473364)",874-90-0453,180031764303928,$3.76,Guyana
14,Payne,danielcarlson@yahoo.com,"(2022-10-26 03:15:31, 534.2472615097074)",416-82-6935,180057738930553,$308.24,Tajikistan
15,Gray,jennifer71@gmail.com,"(2022-10-26 04:15:31, 1859.5000827910237)",041-09-3688,4407522758688091,$8.91,San Marino
16,Simmons,keithsantana@yahoo.com,"(2022-10-26 05:15:31, 2972.507821777274)",494-50-9953,3500248945174468,"$5,602.23",Saint Lucia
17,Greer,mcmahontimothy@gmail.com,"(2022-10-26 06:15:31, 1770.5914527465502)",885-78-1338,4560976701720091,"$72,518.53",Slovenia
18,Frank,drodriguez@hotmail.com,"(2022-10-26 07:15:31, 2522.9427284142243)",630-81-5536,4942641830675371,$510.07,United Arab Emirates
19,Johnson,jerryfrank@hotmail.com,"(2022-10-26 08:15:31, 2805.8245585015884)",716-68-6884,180012696116117,"$1,207.66",Luxembourg
20,Calhoun,jennifer15@gmail.com,"(2022-10-26 09:15:31, 436.96079919719614)",709-04-5660,340351923031047,$309.32,Korea
21,Rodriguez,jasmine42@gmail.com,"(2022-10-26 10:15:31, 3479.4693376811774)",371-43-7756,4852911894262235835,$72.45,Panama
22,Williams,carolynlong@hotmail.com,"(2022-10-26 11:15:31, 263.56013771349905)",431-39-9024,6011964513758061,"$6,065.73",French Polynesia
23,Farley,clementslaura@yahoo.com,"(2022-10-26 12:15:31, 403.7714720476695)",621-89-2522,3562662375825719,"$8,340.79",Albania
24,Robinson,mackcristina@hotmail.com,"(2022-10-26 13:15:31, 2192.9779035031497)",435-91-7724,2538640140046897,"$4,714.54",Nauru
25,Miller,sparkskevin@yahoo.com,"(2022-10-26 14:15:31, 425.4653655638363)",881-32-2680,2344829838168642,$375.92,British Virgin Islands
26,Terry,dmorales@gmail.com,"(2022-10-26 15:15:31, 2014.6073431203529)",307-46-7745,3537785707427094,$70.57,Tuvalu
27,Haney,mcdanielchristopher@hotmail.com,"(2022-10-26 16:15:31, 3328.6285669239405)",405-01-5920,502090443297,$631.67,Hungary
28,Jackson,rwong@yahoo.com,"(2022-10-26 17:15:31, 532.8694344330637)",726-19-8588,343275667633733,"$60,603.12",Azerbaijan
29,Paul,jesseevans@gmail.com,"(2022-10-26 18:15:31, 2537.725358663772)",525-97-4661,377088697747350,$600.02,Afghanistan

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        30 non-null     object
 1   email       30 non-null     object
 2   datetime    30 non-null     object
 3   ssn         30 non-null     object
 4   creditcard  30 non-null     object
 5   pricetag    30 non-null     object
 6   country     30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB